
{% extends "base.html" %}

{% load static %}

{% block content %}



   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static '/img/home1.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Viaja con nosotros</span>
            <span class="section-heading-lower">Paquetes exclusivos</span>
          </h2>
          <p class="mb-3">Tenemos para vos los mejores paquetes con transporte, alojamiento y excursiones. Los adaptamos segun tus necesidades
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded"><strong>
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Con más de 20 años de experiencia a nuestras espaldas, desde Turismo.com tenemos los conocimientos y herramientas necesarios para brindarte el mejor servicio, y asi tu forma de organizar un viaje sera mucho mas sencilla.</p>
            </div></strong>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
